@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout {
  @apply bg-white;
}

.ant-layout-header {
  @apply bg-[#F3F5F7] py-0 px-2 flex items-center;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  @apply border-r-0;
}
.ant-menu-item:hover {
  @apply text-black;
}
.ant-menu-submenu-selected {
  @apply text-black bg-red-500;
}
.ant-menu-light .ant-menu-submenu-title:hover {
  @apply bg-red-500 text-black;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  @apply bg-red-500 text-black;
}
.ant-menu {
  @apply bg-inherit;
}

.search input.ant-input {
  @apply leading-[32px] border px-2 border-r-0;
}

.ant-layout-sider {
  @apply bg-[#F3F5F7] relative;
}

.ant-layout-sider-children {
  @apply h-auto sticky top-0;
}

.custom-sider .ant-menu {
  @apply !h-auto;
}

.react-multi-carousel-item {
  @apply pr-4;
}

.react-multiple-carousel__arrow {
  @apply bg-black;
}

.fij {
  @apply flex items-center justify-between;
}

.ant-card-body {
  @apply p-[10px];
}

.course-item .ant-space-item {
  @apply shrink-0;
}

.course-item button {
  @apply px-1;
}

.absolute-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ant-card-cover img {
  border-radius: 0rem;
}

.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right {
  right: calc(4% - 52px);
  top: 90px;
  background: #fff;
  border-radius: unset;
}
.react-multiple-carousel__arrow--left {
  right: auto;
  left: 0rem;
}
.react-multiple-carousel__arrow::before {
  color: #cccbcc;
  font-size: 3rem;
}
